.login {
	position: absolute;
	min-width: 200px;
	width: 30%;
	z-index: 15;
	top: 25%;
	margin-left: 35%;
	padding: 25px 0px;
	border: solid 1px black;	
}

.login input, .login button, .login select {
	float: left;
	clear: both;
	margin: 10px;
}

.login input, .login select {
	width: 70%;
	margin-left: 15%;
}

.login button {
	width: 50%;
	margin-left: 25%;
}

#register_form {
	display: none;
}

/** Smartphone **/
@media (max-width: 320px) {
	.login {
		width: 70%;
		margin-left: 15%;
	}
}