/** global styles **/
body {
  font: 10pt Segoe;
  margin: 0;
}

figure {
	margin: 0;
}

.b {
	font-weight: bold;
}

* {
    box-sizing: border-box;
}

.topbar {
	background-color: #8B8B8B;
	height: 75px;
	width: 100%;
	background-image: url(../images/menuworld.png);
	background-size: auto 75px;
    background-repeat: no-repeat;
    background-position: center;
}

.subpage {
    background-position: 0px center;		
}

.topbar .search_bar {
	width: 50%;
	position: absolute;
	left: 75px;
	top: 25px;
}

.topbar .search_bar #search, .topbar .search_bar input {
	float: left;
	height: 21px;
}

.topbar #login_button, .topbar #account_icon {
	position: absolute;
	right: 75px;
	top: 25px;
	height: 25px;
}

.topbar #account_icon {
	width: auto;
	display: none;
}

.topbar.subpage #account_icon {
	display: block;
}
.topbar .menu_button {
	position: absolute;
	right: 25px;
	top: 25px;
	height: 25px;
	min-width: 25px;
	background-image: url(../icons/menu_button.png);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/** Dashboard **/
.header {
	min-height: 250px;
	width: 100%;
	padding:1px;
	
	background-image: url(../images/header_image.jpg);
	background-size: 1500px auto;
    background-repeat: no-repeat;
    background-position: center -200px;	
}

.header .contents {
	width: 80%;
	margin: 12% 10%;
	
	text-align: center;
}

.header h1 {
	width: 30%;
	margin-left: 35%;
	text-align: center;
	color: #2A9640;
	background-color: rgba(255, 255, 255, .75);
}

.search_bar input {
	width: 60%;
}

.list_container {
	margin: 5%;
	width: 90%;
	
	display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
}

.list_container .meal_list_div {
	min-width: 200px;
	margin: 5px 0px;
}

.meal_list_div .list_header {
	margin: 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #2A9640;
	
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(../images/meals/default_meal_1.jpg);
}

.meal_list_div:nth-child(1) .list_header {
	background-image: url(../images/meals/default_meal_1.jpg);
}

.meal_list_div:nth-child(2) .list_header {
	background-image: url(../images/meals/default_meal_2.jpg);
}

.meal_list_div:nth-child(3) .list_header {
	background-image: url(../images/meals/default_meal_3.jpg);
}

.meal_list_div:nth-child(4) .list_header {
	background-image: url(../images/meals/default_meal_4.jpg);
}


.meal_list_div ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.meal_list_div li {
	border: solid 1px black;
	height: 25px;
	line-height: 25px;
}

.meal_list_div li:hover {
	background-color: #EEE;
}

.meal_list_div li div, .meal_list_div li img {
	padding: 2px;
	height: 21px;
	line-height: 21px;
}

.meal_list_div .listitem_icon, .meal_list_div .listitem_name {
	float: left;
}

.meal_list_div .listitem_likes {
	min-width: 45px;
	width: 25%;
	float: right;
	text-align: right;
	
	background-image: url(../icons/like.png);
	background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0px 5px;
}

#dashboard #my_meals, #dashboard #my_views, #dashboard #my_likes, #dashboard #my_menus {
	display:none;
}

/** user toggles (remove later)**/
#user_options{
	position: fixed;
	bottom: 0px;
	background-color: rgba(255, 255, 255, .9)
}

#user_options input[name='user'], #user_options .text {
	float: left;
}

/** Smartphone **/
@media (max-width: 320px) {
	.header h1 {
		width: 50%;
		margin-left: 25%;
	}
	
	.topbar {
		background-size: auto 50px;
		background-position: 0px center;		
	}
	
	.topbar .search_bar {
		left: 50px;
	}
	
	.search_bar input {
		width: 75%;
	}
	
	.list_container .meal_list_div {
		width: 80%;
		margin: 5% 10%;
	}
}