.profile > section {
	float: left;
}

.profile_form {
	min-width: 375px;
	width: 50%;
}

.profile .profile_pic {
	width: 100%;
	height: auto;
	float: left;
}

.profile #change_pic {
	clear: both;
	float: left;
	width: 80%;
	margin: 10%;
}

.profile .label {
	clear: both;
	float: left;
	min-width: 140px;
	width: 25%;
	margin: 2%;
}

.profile input, .profile .static_field {
	float: left;
	min-width: 160px;
	width: 25%;
	margin: 2%;
}

.profile_form #submit_profile {
	clear: both;
	float: left;
}

/** Smartphone **/
@media (max-width: 320px) {
	.profile .profile_pic {
		width: 50%;
		margin: 2% 25%;
	}
	
	.profile #change_pic {
		width: 40%;
		margin: 2% 30%;
	}
	
	.profile_form {
		min-width: 100%;
	}
	
	.profile .label {
		width: 100%;
		font-weight: bold;
	}

	.profile input, .profile .static_field {
		clear: both;
		width: 80%;
		margin: 2% 5%;
	}
	
	.profile_form #submit_profile {
		Margin: 2% 5%;
	}
}