<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Benett Axtell">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		</head>
		<title>MenuWorld Profile</title>
	</head>

	<body>
		<header class='topbar subpage'>
			<img id='account_icon' alt='User logo' src='../public/img/default_user.png'/>
			<div class='menu_button'> </div>
		</header>

		<!-- classes background and confirm will be displayed none and block as an 'alert' -->
		<div class="container">
      <h1> Error Page </h1>
    </div>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../public/css/menuworld.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../public/css/admin.css" media="screen" />
		<!-- JS -->
		<script type="text/javascript" src="../public/scripts/admin.js"></script>
	</body>
</html>
