.menu h1 {
	padding-left: 5px;
}

.menu ul {
	list-style: none;
	float: left;
	padding-left: 10px;
}

.menu .item, .menu .like_button {
	height: 50px;
	border: solid 1px black;
	margin: 5px;
}

.menu .item {
	width: 250px;
}

.menu .item:hover, .menu .like_button:hover {
	background-color: #EEE;
}

.menu .name {
	width: 150px;
	float: left;
	padding: 4px;
}

.menu .likes {
	width: 45px;
	text-align: right;
	float: right;
	padding: 4px;
	
	background-image: url(../icons/like.png);
	background-size: 15px 15px;
    background-repeat: no-repeat;
	background-position: 4px 4px;
}

.menu .allergies {
	clear:both;
	padding-left: 4px;
}

.menu .allergy{
	width: 20px;
	height: auto;
	float: left;
	padding-right: 2px;
}

.menu .like_button {
	width: 50px;
	
	background-image: url(../icons/like.png);
	background-size: 25px 25px;
    background-repeat: no-repeat;
	background-position: center;
}

.menu .liked {
	background-color: #DDFFDD;
}

.menu .liked:hover {
	background-color: #BBFFBB;
}

div .message_system{
	width :100%;
}
header, footer{
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;

}
div .post {
	margin-top: 9px;
	text-align: center;
}
div .post p{

	font-size: 1.5em;
}
/** Smartphone **/
@media (max-width: 320px) {
	#menu_wrapper #menu_list {
		width: 70%;
	}
	
	#menu_wrapper .item {
		width: 100%;
		height: auto;
		min-height: 50px;
		
	}
	
	#menu_wrapper #like_list {
		width: 25%
	}
}