<a href='/'><font size="4"> Home </a> || <a href="/acc_setting"><font size="4"> Account Settings </a> || <a href="/order_history"><font size="4"> Order History </a> || <a href="/forget"><font size="4"> Log Out </a>
